.middleItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
    @extend .middleItem;
    font-family: 'inter';

}

.text {
    font-size: 35px;
    margin-top: 31px;
    font-weight: bold;
    margin-bottom: 29px;
}

.logo {
    margin-top: auto;
}

.login-container {
    @extend .middleItem;
    width: 100%;
}

.login-option {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    padding: 10px 20px;
    width: 300px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 30px;
    background-color: white;
    height: 42px;
}

.login-option span {
    margin-left: 10px;
}

.text-between-hr {
    margin: 70px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content {
    padding: 0 10px;
    font-size: 18px;
    color: black;
    background-color: white;
}

hr {
    flex-grow: 1;
    border: 1px solid gray;
    margin: 0 10px;
    width: 77px;
}

.general-btn {
    padding: 10px 20px;
    background-color: #FF7A1C;
    border: none;
    border-radius: 30px;
    width: 362px;
    height: 63px;
    font-weight: 100;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-top: 25px;
}

.gray-btn{
    background-color: #EEF3F9;
    color: black;
}

.bottom-btn{
    margin-bottom: 56px;
    margin-top: auto;
}

.create-account-btn {
    border: 1px solid black;
    border-radius: 15px 15px 0 0;
    height: 62px;
    width: 227px;
    padding-bottom: 5px;
    margin-top: auto;
    font-size: 20px;
    background-color: #EEF3F9;
    @extend .middleItem;
    cursor: pointer;
}

.create-account img {
    margin-bottom: 5px;
}


.create-account-panel {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    justify-content: center;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
}

.appear{
    animation: slideInBottomToTop 0.75s ease-in-out forwards;
    display: flex;
}

.disappear{
    animation: slideOutTopToBottom 0.75s ease-in-out forwards;

}

.input-group {
    @extend .middleItem;
}

.for-create-account{
    border-radius: 20px;
    background-color: #EEF3F9;
    height: 75%;
    width: 95%;
}

.for-sign-in{
    margin-top: 10px;
    margin-bottom: 6px;
}

.for-sign-in .password{
    position: relative;
}


.for-sign-in .password img{
    position:absolute;
    top: 25px;
    right: 10px;
}


.input-group input[type=text],
.input-group input[type=password] {
    height: 62px;
    width: 360px;
    border-radius: 30px;
    margin: 4px 0;
    border: 2px solid #AEB2B6;
    text-align: center;
    font-size: 20px;
}

.input-group .send-promotion-group {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 100px;
}

.input-group .send-promotion-group input[type=checkbox] {
    height: 25px;
    width: 25px;
    border-radius: 30px;
    margin-right: 10px;
}

.social-group {
    margin-top: 15px;
}

.social-group img {
    height: 40px;
    width: 40px;
    margin: 0 20px;
}

.forget-password-group .input-group{
    margin-top: auto !important;
}

.forget-password-group .input-group input{
    border-color: #FF7A1C !important;
}

.forget-password-group .bottom-btn{
    margin-top: 20px;
}

.forget-password{
    cursor: pointer;
    color: #42A5F5;
}

.container-appear{
    animation: container-appear-animation 0.5s ease-in-out forwards;
}

.font-size18px{
    color: white !important;
    font-size: 18px;
    margin: 10px 0 !important;
}

.test{
    margin-bottom: auto;
}

.forget-password-text{
    color: #8C8C8C;
    font-size: 20px;
    text-align: center;
    margin: 29px auto 0 auto;
    width: 75%;
}

@keyframes container-appear-animation {
    0% {
        transform: translateY(-1%);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInBottomToTop {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutTopToBottom {
    0% {
        transform: translateY(0);
        display: flex;
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
        display: flex;
    }
}