<div class="container" *ngIf="sectionNumber==0">
    <img src="/assets/image/Login/Logo.png" class="logo" alt>
    <div class="text">Let's you in</div>
    <div class="login-container">
        <div class="login-option" *ngFor="let option of loginOption">
            <img [src]="option.img" alt class="icon">
            <span>Continue with {{option.text}}</span>
        </div>
    </div>
    <div class="text-between-hr">
        <hr>
        <span class="text-content">or</span>
        <hr>
    </div>
    <button class="general-btn" (click)="ChangeSectionNumber(1)">Sign in with
        password</button>
    <button class="create-account-btn" (click)="ChangeVisibleOfCreateAccount()">
        <img src="/assets/image/Login/UpArrow.png" alt>
        <span>Create an account</span>
    </button>

</div>

<div class="container container-appear" *ngIf="sectionNumber==1">
    <img src="/assets/image/Login/Logo.png" class="logo" alt>
    <div class="text">Sign in</div>
    <div class="input-group for-sign-in">
        <input type="text" placeholder="Username or Email">
        <div class="password">
            <input type="{{!showPassword?'password':'text'}}"
                placeholder="Password">
            <img
                src="/assets/image/Login/{{!showPassword?'ShowPassword.png':'UnShowPassword.png'}}"
                alt (click)="ChangeShowPassword()">
        </div>
    </div>
    <div class="forget-password" (click)="ChangeSectionNumber(4)">Forgot your password?</div>
    <div class="text-between-hr">
        <hr>
        <span class="text-content">or</span>
        <hr>
    </div>
    <div class="social-group">
        <img *ngFor="let option of loginOption" [src]="option.img">
    </div>
    <button class="general-btn"
        (click)="ChangeSectionNumber(2)">Next</button>
    <button class="create-account-btn" (click)="ChangeVisibleOfCreateAccount()">
        <img src="/assets/image/Login/UpArrow.png" alt>
        <span>Create an account</span>
    </button>
</div>

<div class="container container-appear" *ngIf="sectionNumber==2">
    <img src="/assets/image/Login/Logo.png" class="logo" alt>
    <div class="text">Let's you in</div>
    <button class="general-btn font-size18px"
        (click)="ChangeSectionNumber(3)">Continue with customer</button>
    <button class="general-btn font-size18px"
        (click)="ChangeSectionNumber(3)">Continue with business partner</button>
    <div class="test"></div>
</div>

<div class="container container-appear" *ngIf="sectionNumber==3">
    <img src="/assets/image/Login/Logo.png" class="logo" alt>
    <button class="general-btn gray-btn">Select Country</button>
    <button class="general-btn gray-btn">Select City</button>
    <button class="general-btn bottom-btn">Search</button>
</div>

<div class="container container-appear forget-password-group" *ngIf="sectionNumber==4">
    <img src="/assets/image/Login/LockIcon.png" class="logo" alt>
    <div class="text">Forgot Your Password</div>
    <div class="forget-password-text">If you need help resetting your password,
        we can help by sending you a link to reset it</div>
    <div class="input-group">
        <input type="text"
            placeholder="Email/Telephone Number">
    </div>
    <button class="general-btn bottom-btn">Send Password</button>
</div>

<div class="create-account-panel"
    ngClass="{{createAccount?'appear':'disappear'}}">
    <button class="create-account-btn" (click)="ChangeVisibleOfCreateAccount()">
        <img src="/assets/image/Login/DownArrow.png" alt>
        <span>Create an account</span>
    </button>
    <div class="input-group for-create-account">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Phone">
        <input type="password" placeholder="Password">
        <input type="password" placeholder="Password">
        <div class="send-promotion-group">
            <input type="checkbox" id='sendPromotion' name>
            <label for="sendPromotion">Please send me special
                promotions</label>
        </div>
        <button class="general-btn">Register</button>
        <div class="social-group">
            <img *ngFor="let option of loginOption" [src]="option.img">
        </div>
    </div>
</div>